<div class="votes {{myvote}}" id="vote-{{name}}">
    <div class="vote upvote"></div>
    <div class="votecount">{{score}}</div>
    <div class="vote downvote"></div>
</div>
<div class="threadcontent">
    <div class="titlecontent">
        <div id="{{type}}-play-{{id}}" class="play"></div>
        <div id="{{type}}-thumb-{{id}}" class="thumb"></div>
        <h2 id="{{type}}-title-{{id}}" class="{{event}}" rel="{{realtitle}}">{{title}}</h2>
    </div>
    <div class="infocontent">
        <div class="by">by</div>
        <div id="{{type}}-flair-{{id}}" class="flair {{race}}"></div>
        <div class="info">
            <strong>{{author}}</strong> {{time}} 
        </div>
        <div id="{{type}}-comments-{{id}}" class="comments">
            {{comments}} comments
        </div>
        <div class="commentsicon"></div>
    </div>
</div>
<div class="clear"></div>
<div class="thread-bottom"></div>
